.input {
  @apply w-full px-4 py-2 rounded-lg bg-gray-100 border border-gray-300
        focus:outline-none focus:ring-2 focus:ring-blue-500;
}

.btn-login {
  @apply w-full py-3 rounded-lg bg-blue-600 text-white font-semibold
        hover:bg-blue-700 transition disabled:bg-gray-400 disabled:cursor-not-allowed;
}

@keyframes fade-slide {
  0% {
    opacity: 0;
    transform: translateY(-6px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-slide {
  animation: fade-slide 0.18s ease-out;
}

@keyframes dropdown {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-dropdown {
  animation: dropdown 0.15s ease-out;
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.animate-fade-in-up {
  animation: fade-in-up 0.35s ease-out;
}

.bg-noise {
  background-image: url("../assets/iconH.png"); /* file noise nh·ªè 300x300 */
  opacity: 0.15;
}

.btn-login:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  transform: scale(0.98);
  transition: all 0.2s ease;
}
